.navbar-logo {
    width: 60px;
    height: 60px;
}

.carousel-image-overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.butonul {
    position: relative;
    top: 20px;
}